<div class="header-container">
  <a routerLink="/" [ngClass]="{ 'hidden-button': route.snapshot.url.length == 0 }"><i class="fa fa-2x fa-home"></i></a>
  <div class="avatar">
    <img src="https://secure.gravatar.com/avatar/6f8e9e68acc14e6fafd57f783f8c5537?s=68&d=mm&r=g" width="68" height="68">
    <div class="avatar-content">
      <h1 class="avatar-name">Kevin Kulp</h1>
      <small class="avatar-location"><span class="material-symbols-outlined">location_on</span> Durham, NC</small>
    </div>
  </div>
  <a href="https://www.linkedin.com/in/kevin-kulp/" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
</div>
